# Fichiers à ignorer lors du build de l'image Docker
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
Dockerfile
.dockerignore
README.md
poetry.lock
pyproject.toml
